/* University */

.university {
  margin-top: 17em;
}

.university > h1 {
  color: #9f9f48;
  margin-bottom: 3em;
  padding: 0 5px;
}

.university > h2 {
  color: brown;
  margin: 2em;
  padding: 0 5px;
}

.university > p {
  color: brown;
  margin: 1em 0;
  padding: 0 5px;
}

.university-image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.university-image-container > img {
  max-width: 50em;
}

.university-image-container > h4 {
  margin: 1em 0;
  font-size: 1rem;
}

/* Media */

@media screen and (max-width: 800px) {
  .university-image-container > img {
    max-width: 40em;
  }
}

@media screen and (max-width: 600px) {
  .university-image-container > img {
    max-width: 30em;
  }
}

@media screen and (max-width: 500px) {
  .university-image-container > img {
    max-width: 15em;
  }
}